<?xml version="1.0"?>
<!--
  ~ Copyright © Magenius.Team. All rights reserved.
  ~ See LICENSE.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magenius_Core::menu" title="Magenius" translate="title" sortOrder="50">
                    <resource id="Magenius_Core::admin_messages" title="Ajax Message Retriever" translate="title" sortOrder="50"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
