<?xml version="1.0"?>
<!--
  ~ Copyright © Magenius.Team. All rights reserved.
  ~ See LICENSE.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magenius_Core::menu" title="Magenius" translate="title" module="Magenius_Core" sortOrder="50" resource="Magenius_Core::menu"/>
    </menu>
</config>
